<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mt-3 mb-3">Edit your Listing</h3>
            <form method="post" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label form-font" for="title">Title :</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" id="title" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter the title.
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label form-font" for="description">Description :</label>
                    <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">
                        Please enter a short description.
                      </div>
                </div>
                <div class="mb-3">
                    Original Listing Image:<br>
                    <img src="<%= originalImageUrl %>" height="150px" width="250px">
                </div>
                <div class="mb-3">
                    <label class="form-label form-font" for="image">Upload Image :</label>
                    <input name="listing[image]" value="<%= listing.image.url %>" type="file" class="form-control">
                    <div class="invalid-feedback">
                        Please enter a valid link for image.
                      </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label form-font" for="price">Price :</label>
                        <input name="listing[price]" value="<%= listing.price %>"  class="form-control" required>
                        <div class="invalid-feedback">
                            Price should be valid.
                          </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label form-font">Location :</label>
                        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" id="location" required>
                        <div class="invalid-feedback">
                            Country name should be valid.
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label form-font">Country :</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" id="country" required>
                    <div class="invalid-feedback">
                        Location should be valid.
                      </div>
                </div>
                <button class="edit-btn mb-3 mt-2">Edit</button>
            </form>
        </div>
    </div>
</body>